@font-face {
  font-family: Vazirmatn-Regular;
  src: url("/Fonts/Vazirmatn-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazirmatn-Regular, Arial, sans-serif;
}

body {
  background-color: #f7f8fa;
  margin: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container {
  position: relative;
  background-color: #d1d0d0;
  border-radius: 12px;
  padding: 20px;
  width: 660px;
  text-align: start;
}

.inputsContainer {
  padding: 8px;
  display: flex;
}

.inputsContainer input,
.searchContainer input {
  border: none;
  outline: none;
  min-width: 460px;
  padding: 8px;
  border-radius: 20px;
}

.inputsContainer button {
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

#showTodos {
  margin: 10px;
  padding-top: 30px;
}

#showTodos li {
  cursor: pointer;
  padding: 4px;
  margin: 8px 0px;
}

#clearTodos {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 4px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
