@font-face {
  font-family: Vazirmatn-Regular;
  src: url("/Fonts/Vazirmatn-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazirmatn-Regular, Arial, sans-serif;
}

body {
  background-color: #f7f8fa;
  margin: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container {
  background-color: #78b3ce;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 660px;
  text-align: start;
}

.container h1 {
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.inputsContainer {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.inputsContainer input,
.searchContainer input {
  border: none;
  outline: none;
  min-width: 460px;
  padding: 8px;
  border-radius: 20px;
  margin: 4px 0px;
}

.inputsContainer button {
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

#showTodos {
  list-style-type: none;
  margin: 10px;
  padding-top: 30px;
}

#showTodos li {
  background-color: #fff;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(97, 95, 95);
  border-radius: 40px;
  cursor: pointer;
  padding: 4px 20px;
  margin: 8px 0px;
}

#showTodos :hover {
  background-color: #f3efef;
}

#clearTodos {
  left: 0;
  bottom: 0;
  margin: 4px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.line-through {
  text-decoration: line-through red;
  text-decoration-thickness: 3px;
}

.close {
  margin: 0 20px;
  color: red;
  font-size: 1.4rem;
  border-radius: 100%;
}
